<h1><%= @lesson.name %></h1>
<h2>Words List</h2>

<div class="table-responsive">
  <table class="table">  
    <tbody>
      <% @lesson_words.each do |lesson_word| %>
        <tr>
          <td><%= lesson_word.word.try(:content) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

