<h1>All categories</h1>

<ul class = "users">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.cat_name, admin_categories_path(category.id) %> 
      <%= link_to "edit", edit_admin_category_path(category.id) %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "New category", new_admin_category_path, class: "btn btn-lg btn-primary" %>
</div>