<h1>All Categories</h1>

<div class="table-responsive">
  <table class="table">  
    <thead>
      <td>Category Name</td>
      <td>Description</td>
      <td></td>
    </thead>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.cat_name %></td>
        <td><%= category.description %></td>
        <td><%= link_to "Join", "" %></td>
      </tr>  
    <% end %>
  </table>
</div>

